<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.belvi.mobilevisionbarcodescanner">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>


</manifest>
